<!DOCTYPE html>
{% load static   %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    
    <title>CRUD OPERATIONS </title>
</head>
<body>
    {{msg}}
    <h1 id="head" >Student Registration To Perform CRUD Operation in Python Django </h1>
    <div id="DivTwo">
        <form action="/show">  
            <input type="submit" value="Show Records" id="btn">
        </form>
    </div>

    <div id="DivOne">
        <form action="/send" method="post">
        {% csrf_token %}    
        <h2> ID <input required autofocus type="text" name="id" ></h2>
        <h2> Name <input required  type="text" name="name"></h2>
        <h2> Email <input required  type="email" name="email"></h2>
        <h2> Mobile <input required  type="tel" name="mobile"></h2>
        <input type="submit" id="btn" value="SUBMIT">
    </form>
    </div>

</body>
</html>